@model IEnumerable<appPetech.Models.Producto>
@{
    ViewData["Title"] = "Catalogo";  
}

@section Styles {
    <link href="~/css/catalogo.css" rel="stylesheet" />
}


<h1>@ViewData["Title"]</h1>
<!--
  <div class="container">
    <h1>@ViewData["Message"]</h1>
    <div class="row">
      <div class="col">
        <div id="products" class="mb-3">
          <div class="row">
            @foreach (var item in Model) {
            <div class="col-sm-4">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="card-img-actions">
                    <img class="shadow p-3 mb-5 bg-white rounded" style="width:400px"
                src="https://falabella.scene7.com/is/image/FalabellaPE/gsc_119236640_2269819_1?wid=1500&hei=1500&qlt=70" />
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                  <p class="card-text">@Html.DisplayFor(modelItem => item.Precio)</p>
                  <a class="btn btn-primary" asp-action="Add" asp-route-id="@item.Id">Add</a>
                  <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">View</a>
                </div>
              </div>
            </div>
            }
         </div>
        </div>
      </div>
    </div>
  </div>-->

<section class="grid">

 <div class="productContainerRow_product">
          <h5 class="body_title">Alimentador de mascotas</h5>
          <p class="body_text">Nos ayuda a alimentar mascotas de manera eficiente.</p>
          <img class="body_img" style="width:200px"
          src="https://falabella.scene7.com/is/image/FalabellaPE/gsc_119236640_2269819_1?wid=1500&hei=1500&qlt=70" /> 
          <div class="body_options">
            <a href="#" class="options options_ver">Ver</a>
            <label>0</label>
            <a href="#" class="options options_añadir">Añadir</a>
          </div>
  </div>
    

  <br>
 <div class="productContainerRow_product">
          <h5 class="body_title">Regadera para mascotas</h5>
          <p class="body_text">Te ayuda a bañar a tu pequeño amigo</p>
          <img class="body_img" style="width:200px"
          src="https://falabella.scene7.com/is/image/FalabellaPE/gsc_119236640_2269819_1?wid=1500&hei=1500&qlt=70" /> 
          <div class="body_options">
            <a href="#" class="options options_ver">Ver</a>
            <label>0</label>
            <a href="#" class="options options_añadir">Añadir</a>
          </div>
  </div>

  <br>

 <div class="productContainerRow_product">
          <h5 class="body_title">Puntero laser</h5>
          <p class="body_text">Pasa horas y horas jugando con tu gato usando este pequeño artefacto</p>
          <img class="body_img" style="width:200px"
          src="https://falabella.scene7.com/is/image/FalabellaPE/gsc_119236640_2269819_1?wid=1500&hei=1500&qlt=70" /> 
          <div class="body_options">
            <a href="#" class="options options_ver">Ver</a>
            <label>0</label>
            <a href="#" class="options options_añadir">Añadir</a>
          </div>
  </div>
  <br>

 <div class="productContainerRow_product">
          <h5 class="body_title">Caja de arena</h5>
          <p class="body_text">Tu caja de arena</p>
          <img class="body_img" style="width:200px"
          src="https://falabella.scene7.com/is/image/FalabellaPE/gsc_119236640_2269819_1?wid=1500&hei=1500&qlt=70" /> 
          <div class="body_options">
            <a href="#" class="options options_ver">Ver</a>
            <label>0</label>
            <a href="#" class="options options_añadir">Añadir</a>
          </div>
  </div>


  <br>

 <div class="productContainerRow_product">
          <h5 class="body_title">Collarin de perro</h5>
          <p class="body_text">No pierdas a tu mejor amigo , con este collarin de perro podras poner tus datos personales en caso de hechos desafortunados</p>
          <img class="body_img" style="width:200px"
          src="https://falabella.scene7.com/is/image/FalabellaPE/gsc_119236640_2269819_1?wid=1500&hei=1500&qlt=70" /> 
          <div class="body_options">
            <a href="#" class="options options_ver">Ver</a>
            <label>0</label>
            <a href="#" class="options options_añadir">Añadir</a>
          </div>
  </div>
</section>