@model List<appPetech.Models.RazaPerros>

<style>

    .Title_h1{
        margin: 20px auto;
        text-align: center;
    }

    .ContainerDog{
        display: flex;
        margin: 20px auto;
        width: 90%;
        gap: 20px;
        /* flex-flow: column; */
        align-items: center;
        flex-flow: wrap;
        justify-content: center;
    }

    .ContainerDog_card{
        width: 350px;
        border: solid #FFD65B 2px;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-flow: column;
        gap: 20px;
        align-items: center;
    }

    .card_url{
        text-decoration: none;
        width: 100%;
        padding: 10px;
        text-align: center;
        background-color: #FFD65B;
        color: white;

    }


</style>


<h1 class="Title_h1">Listado de Razas</h1>
<section class="ContainerDog">
    @foreach (var perro in Model)
    {
        <div class="ContainerDog_card">
            <h3>@perro.Breed</h3>
            <p>Origen: @perro.Origin</p>
            <img src="@perro.Img" alt="Imagen de @perro.Breed" width="200" height="200" />
            <a class="card_url" href="@perro.Url">Mas Informacion</a>
        </div>
    }
</section>