@model dynamic;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Carrito";
    IEnumerable<appPetech.Models.Cart> listItemsCarrito = new List<Cart>();
    listItemsCarrito = @Model.elementosCarrito;
    Decimal montoTotal = @Model.montoTotal;
}

@section Styles {
    <link href="~/css/cart.css" rel="stylesheet" />
}
<section class="cartContainer">
    <h1>@ViewData["Title"]</h1>
    <p>Total S/. @montoTotal</p>
    <a class="btn btn-primary" asp-controller="Pago" 
    asp-action="Create" asp-route-monto="@montoTotal">Pagar</a>

    <div class="product_list">
        @foreach (Cart item in Model.elementosCarrito) {
            <div style="display: flex;flex-flow: column;align-items: center;max-width: 530px;box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);" >
                <div class="product_item">
                    @if (item.Producto.ImageName != null)
                            {
                                <img class="productComponentContainer_img" src="~/imagenes/@item.Producto.ImageName " alt="width="150" height="150"/>
                            }
                    <div class="product_information">
                        <div class="product_name">@Html.DisplayFor(modelItem => item.Producto.Name)</div>
                        <div class="product_price">Precio: S/@Html.DisplayFor(modelItem => item.Precio)</div>
                        <div class="product_quantity">Cantidad: @Html.DisplayFor(modelItem => item.Cantidad)</div>
                        <div class="product_actions">
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        </div>
                    </div>
                </div>
                <div style="background-color: #FFD65B;width: 100%;text-align: center;">
                    Mas informacion
                </div>
            </div>
        }
    </div>
</section>