@model IEnumerable<appPetech.Models.Delivery>

@{
    ViewData["Title"] = "Gestion de delivery";
}

<h1>Gestion de deliverys</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo delivery</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                ApellidoPaterno
            </th>
            <th>
                ApellidoMaterno
            </th>
            <th>
                Dni
            </th>
            <th>
                Celular
            </th>
                        <th>
                Vehiculo
            </th>
            <th>
                Placa
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalle</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
